.logo {
    color: white;
    line-height: 1.8;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    float: left;
}

.steps-content {
    border: 1px solid #e9e9e9;
    border-radius: 8px;
    margin-top: 24px;
    padding-top: 48px;
    padding-bottom: 24px;
}